doctype html
html lang="en"
  head
    title= content_for?(:title) ? yield(:title) : 'DocContract Engine'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Application'}"
    = csrf_meta_tags
    = csp_meta_tag

    meta charset="utf-8"
    meta content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" name="viewport"

    = stylesheet_link_tag    'doc_contract/application', media: 'all'
    = javascript_include_tag 'doc_contract/application'
    = content_for :head
  body
    header= render 'navigation'
    /.environment-ribbon class=Rails.env
      span= Rails.env
    main role="main"
      = render 'messages'
      = yield
    hr
    p DocContract Engine
