/table.ui.attached.compact.definition.table
= form_with model: @record, class: 'ui form' do |f|
  table.ui.top.attached.compact.definition.table
    tbody
      tr
        td= at :name
        td
          .ui.input.error= f.text_field :name
          - if @record.errors[:name].present?
            .ui.left.pointing.red.basic.label= @record.errors[:name].to_sentence
      tr
        td
          = DocContract::ContractTemplate.model_name.human
          = render 'definition_table_attribute_errors', attribute: :contract_template_id
        td
          = f.collection_select :contract_template_id, DocContract::ContractTemplate.all, :id, :name, class: 'ui input'
      tr
        td
          = at :config_yml
          = render 'definition_table_attribute_errors', attribute: :config_yml
        td
          = f.text_area :config_yml
          #contract_config_yml_editor= raw @record.config_yml
  .ui.bottom.attached.segment
    = f.submit class: 'ui primary button'
    - unless @record.new_record?
      = render 'button-preview-markdown', record: @record
      = render 'button-destroy-record', record: @record
