.ui.container
  = page_title :index, record_class
  - if @records.any? or @q.conditions.present?
    = search_form_for(@q, html: {class: 'ui form'}) do |f|
      = hidden_field_tag :per_page, params[:per_page], id: 'q_per_page'
      table.ui.compact.top.attached.striped.table
        thead
          tr
            th= sort_link @q, :name, at(:name), default_order: :asc
            th= sort_link @q, :contract_template_name, DocContract::ContractTemplate.model_name.human
            th.column-filter.actions
              = search_result_info @records
          = search_row class: 'ui mini form' do
            th= f.text_field :name_cont, placeholder: 'name contains'
            th= f.text_field :contract_template_name_cont, placeholder: 'template contains'
            th.column-filter.actions
              button.ui.mini.primary.icon.button
                i.filter.icon
              = link_to polymorphic_path(record_class, reset_q: true), class: 'clear-filters-button ui mini basic yellow icon button' do
                i.close.icon
        tbody
          - @records.each do |record|
            tr
              td= link_to record.name, record
              td= link_to record.contract_template.name, record.contract_template
              td.actions
                = table_show_link record
                = table_edit_link record
    .ui.bottom.attached.segment
      = render 'button-new-record'
    = paginate @records
  - else
    p= t 'collection.empty', models: record_class.model_name.human_plural
    = render 'button-new-record'
