.ui.container
  = page_title :show, @record, back: [record_class]
  table.ui.top.attached.compact.definition.table
    tbody
      tr
        td= at :name
        td= @record.name
      tr
        td= DocContract::ContractTemplate.model_name.human
        td= link_to @record.contract_template.name, @record.contract_template
      tr
        td= at :config_yml
        td
          pre=raw @record.config_yml
      tr
        td Markdown tags
        td
          ul
            - @record.contract_template.markdown.scan(/{{{?((#[a-z]+ )?[a-z]+.[a-z]*)}?}}/).uniq.each do |founds|
              li= founds[0]
  .ui.bottom.attached.segment
    = render 'button-preview-markdown', record: @record
    /= render 'button-preview-html', record: @record
    = render 'button-preview-pdf', record: @record
    = render 'button-edit-record', record: @record
