h1 Dummy main
.container
  p
    |
      This is a view of the dummy application that will not exist in your application since this
      rails gem is created as an engine that can be mounted in your <code>config/routes.rb</code>
      file. This will look like:
  p
    code mount DocContract::Engine => '/doc-contract'
  p
    |
      To see how that looks go to: 
    a href="/doc-contract" = '/doc-contract'
