@import "semantic-ui"
main
  min-height: calc(100% - 57px - 1rem) // 34px for footer inclusion
  padding-top: 40px
  > .page-title
    padding-top: 12px
  > .container .page-title
    padding-top: 12px

#contract_template_markdown_editor, #contract_config_yml_editor
  //position: absolute
  width: 100%
  height: 600px

#readme_container
  pre
    max-height: 500px
    overflow: auto
    margin: 10px
    border: 1px solid #777
.contract-markdown-show-container
  @import "./pandoc"
.contract-markdown-show-container
  max-height: 600px
  overflow-y: scroll

pre.scrolling.content
  margin: 0

/* tables */
table.ui.table
  .actions
    text-align: right
  thead
    tr.search
      th, td
        padding-top: 2px
        padding-bottom: 2px
        .clear-filters-button
          display: none
      &.conditions-present
        th, td
          background-color: #d2e1ec
          .clear-filters-button
            display: inline-block
      .column-filter.actions
        min-width: 85px
        padding-right: 3px
  tbody
    td.actions
      min-width: 112px
      padding-right: 3px
