/table.ui.attached.compact.definition.table
= form_with model: @record, class: 'ui form' do |f|
  table.ui.top.attached.compact.definition.table
    tbody
      tr
        td.collapsing= at :name
        td: .ui.input= f.text_field :name
      tr
        td.collapsing= at :latex_template
        td: .ui.input= f.select :latex_template, %w[eisvogel]
      tr
        td.collapsing= at :titlepage_background
        td= f.select :titlepage_background, (1..11), include_blank: ' -- '
      tr
        td.collapsing
          = at :config_yml
          = render 'definition_table_attribute_errors', attribute: :config_yml
        td
          = f.text_area :config_yml
          #contract_config_yml_editor= raw @record.config_yml
      tr
        td.collapsing
          = at :markdown
          = render 'definition_table_attribute_errors', attribute: :markdown
        td
          = f.text_area :markdown
          #contract_template_markdown_editor= raw @record.markdown
          /textarea.hidden= @record.markdown
  .ui.bottom.attached.segment
    = f.submit class: 'ui primary button'
    - unless @record.new_record?
      = render 'button-preview-markdown', record: @record
      = render 'button-preview-html', record: @record
      = render 'button-destroy-record', record: @record
