.ui.container
  = page_title :show, @record, back: [record_class]
  table.ui.top.attached.compact.definition.table
    tbody
      tr
        td= at :name
        td= @record.name
      tr
        td= at :latex_template
        td= @record.latex_template
      tr
        td= at :config_yml
        td
          pre=raw @record.config_yml
      tr
        td Markdown tags
        td
          ul
            - @record.present_handlebars_expressions.each do |expression|
              li= expression
      tr
        td Raw preview
        td: .contract-markdown-show-container=raw @record.processed_html
  .ui.bottom.attached.segment
    = render 'button-preview-markdown', record: @record
    /= render 'button-preview-html', record: @record
    = render 'button-preview-pdf', record: @record
    = render 'button-edit-record', record: @record
