.ui.pink.button.preview-html data-target=polymorphic_path(record, action: :processed_html) Preview html
#html-preview-modal.ui.overlay.fullscreen.modal
  .header html preview handlebars interpreted
  pre.scrolling.content
    .ui.active.inline.loader
  .actions
    - unless params[:action] == 'edit'
      = link_to t('Edit'), [record, action: :edit], class: 'ui yellow button'
    .ui.cancel.button Close
