.ui.pink.button.preview-markdown data-target=polymorphic_path(record, action: :processed_markdown) Preview markdown
#markdown-preview-modal.ui.overlay.fullscreen.modal
  .header Markdown preview handlebars interpreted
  pre.scrolling.content
    .ui.active.inline.loader
  .actions
    - unless params[:action] == 'edit'
      = link_to t('Edit'), [record, action: :edit], class: 'ui yellow button'
    .ui.cancel.button Close
