.ui.inverted.menu.fixed
  = link_to main_app.root_path, class: 'header item'
    = Rails.application.config.x.doc_contract.link_home_content.call.to_s.html_safe
  = link_to doc_contract.root_path, class: 'header item'
    = Rails.application.config.x.doc_contract.application_title.call.to_s.html_safe
  - if current_user.present?
    - if can? :read, DocContract::ContractTemplate
      = link_to DocContract::ContractTemplate.model_name.human_plural, [DocContract::ContractTemplate], class: ['item', active_class('doc_contract/contract_templates')]
    - if can? :read, DocContract::ContractInstance
      = link_to DocContract::ContractInstance.model_name.human_plural, [DocContract::ContractInstance], class: ['item', active_class('doc_contract/contract_instances')]
  .right.menu
    - if current_user.present?
      .ui.dropdown.item
        span= current_user.respond_to?(:nickname) ? current_user.nickname : current_user.email
        i.dropdown.icon
        .menu
          = link_to main_app.destroy_user_session_path, method: :delete, class: 'item'
            i.sign.out.icon
            span.text= t 'user.sign_out'
    - else
      = link_to t('devise.sessions.new.sign_in'), main_app.new_user_session_path, class: 'item'

