.ui.two.item.menu
  = link_to DocContract::ContractTemplate.model_name.human_plural, [DocContract::ContractTemplate], class: ['item', active_class('doc_contract/contract_templates')]
  = link_to DocContract::ContractInstance.model_name.human_plural, [DocContract::ContractInstance], class: ['item', active_class('doc_contract/contract_instances')]
- if Rails.application.config.x.doc_contract.show_readme_on_main_page
  hr
  #readme_container== readme_html
